langchain==0.3.27
langchain-core==0.3.79
langchain-deepseek==0.1.4
langchain_ollama==0.3.10
langchain-openai==0.3.35
langchain_community==0.3.31
langchain-text-splitters==0.3.11
langsmith==0.4.35
autopep8
jinja2
numpy < 2 # mindspore related
httpx
ollama
pandas
pybind11
pytest
pytest-asyncio
tiktoken
torch
faiss-cpu
sentence-transformers
einops